</section>
</body>
<!-- js placed at the end of the document so the pages load faster -->
<script src="/Public/js/bootstrap.min.js"></script>
<script src="/Public/js/jquery.scrollTo.min.js"></script>
<script src="/Public/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/Public/js/jquery.sparkline.js" type="text/javascript"></script>
<script
	src="/Public/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="/Public/js/owl.carousel.js"></script>
<script src="/Public/js/jquery.customSelect.min.js"></script>
<script type="text/javascript" src="/Public/js/moment.min.js"></script>
<script type="text/javascript" src="/Public/js/daterangepicker.js"></script>
<script src="/Public/js/bootstrap-table.min.js"></script>
<script src="/Public/js/bootstrap-table-zh-CN.min.js"></script>
<script src="/Public/js/bootbox.min.js"></script>
<script src="/Public/js/myjs.js"></script>
<script src="/Public/js/bootstrap-switch.js"></script>

<!--common script for all pages-->
<script src="/Public/js/common-scripts.js"></script>
</html>